.footer {
  margin-top: auto;
  background-color: color(primary);
}

.footer__inner {
  @include gridWidth;
  @include gridPadding;
  padding-top: block(gutter);
  padding-bottom: block(xlarge);
}

.footer__nav {
  padding-top: block(small);
  padding-bottom: block(small);
  margin-right: -(block(small));
  margin-left: -(block(small));
  justify-content: space-between;

  ul {
    @include inline-list;
  }

  @include breakpoint(small down) {
    ul {
      text-align: center;
    }

    ul + ul {
      padding-top: block(gutter);
    }
  }

  @include breakpoint(medium up) {
    display: flex;
  }
}

.footer__social {
  padding-top: block(small);
  padding-bottom: block(small);
  margin: -block(small);
  text-align: center;

  ul {
    @include inline-list;
  }

  li {
    padding: block(small);
  }

  svg {
    width: auto;
    height: 20px;
  }
}
