.header {
  @include gridWidth;
  @include gridPadding;
}

.header__inner {
  display: flex;
  padding-top: block(gutter);
  padding-bottom: block(gutter);
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  @include montserrat(500);
  position: relative;
  padding-left: block(small);
  padding-right: block(medium);
  font-size: 2.5rem;
  letter-spacing: -3px;
  line-height: 1;
}

.header__logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16px;
  background-color: color(primary);
  z-index: -1;
}
