.navigation__list {
  @include breakpoint(small down) {
    @include transition(opacity, transform);
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    .header.is-open & {
      opacity: 1;
      visibility: visible;
    }
  }

  @include breakpoint(medium up) {
    @include inline-list;
    margin-right: -(block(small));
    margin-left: -(block(small));
  }
}

.navigation__list a {
  display: block;
  position: relative;

  @include breakpoint(small down) {
    @include transition(opacity, transform);
    padding: block(gutter);
    border-bottom: 1px solid color(mid);
    opacity: 0;
    transform: translateY(20px);

    .header.is-open & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@for $i from 1 to 10 {
  $delay: 50ms * $i + 50ms;

  .navigation__list li:nth-child(#{$i}) a {
    transition-delay: $delay;
  }
}

.navigation__list li.navigation__icon a {
  border-bottom: none;
}

.navigation__list a::after {
  @include breakpoint(medium up) {
    @include transition(background-color);
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% + 8px);
    height: 10px;
    transform: translate(-50%, -4px);
    z-index: -1;
  }
}

.navigation__list a[aria-current="page"]::after {
  background-color: color(secondary);
}

.navigation__list a:hover::after {
  background-color: color(primary);
}

.navigation__icon {
  vertical-align: middle;
}

.navigation__icon a {
  line-height: 1;
}

.navigation__icon svg {
  width: auto;
  height: 20px;
}
