@mixin section {
  padding-top: block(medium);
  padding-bottom: block(medium);

  @include breakpoint(medium up) {
    padding-top: block(large);
    padding-bottom: block(large);
  }
}

.section {
  @include section;
}

.section__title {
  margin-bottom: block(gutter);

  @include breakpoint(medium up) {
    margin-bottom: block(medium);
  }
}
