.accordion {
  @include gridWidth;
  @include gridPadding;
  @include section;
  position: relative;
}

.accordion__item {
  position: relative;
  width: 100%;
  padding-left: block(medium);

  input {
    display: none;
  }

  @include breakpoint(medium up) {
    padding-left: block(large);
  }
}

.accordion__item::before,
.accordion__item::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;

  @include breakpoint(medium up) {
    top: 18px;
    left: 24px;
  }
}

.accordion__item::before {
  width: 14px;
  height: 14px;
  background-color: color(primary);
}

.accordion__item:nth-child(odd)::before {
  background-color: color(secondary);
}

.accordion__item::after {
  width: 4px;
  height: 100%;
  margin-left: 5px;
  background-color: currentColor;
  z-index: -1;
}

.accordion__item:last-child::after {
  display: none;
}

.accordion__heading {
  position: relative;
  display: block;
  padding: block(small);
  padding-right: block(medium);
  cursor: pointer;
}

.accordion__heading::before,
.accordion__heading::after {
  content: "";
  position: absolute;
  top: 24px;
  right: block(small);
  width: 12px;
  height: 2px;
  background-color: currentColor;

  @include breakpoint(medium up) {
    top: 28px;
    right: block(gutter);
    width: 16px;
    height: 2px;
  }
}

.accordion__heading::before {
  transform: translateY(-6px) rotate(30deg);

  @include breakpoint(medium up) {
    transform: translateY(-4px) rotate(30deg);
  }
}

.accordion__heading::after {
  transform: translateY(0px) rotate(-30deg);

  @include breakpoint(medium up) {
    transform: translateY(3px) rotate(-30deg);
  }
}

.accordion__heading p {
  font-size: 18px;

  @include breakpoint(medium up) {
    font-size: 24px;
  }
}

.accordion__content {
  @include transition(max-height);
  max-height: 0;
  overflow: hidden;

  .accordion__item input:checked ~ .accordion__heading ~ & {
    max-height: 500px !important;
  }
}

.accordion__content__inner {
  padding: block(gutter);
}

.accordion__content__inner div {
  padding: block(medium);
  background-color: color(mid);
}
