ul.socialList {
  display: flex;
  padding-top: block(medium);
  margin-right: -(block(small));
  margin-left: -(block(small));

  li {
    padding-left: 0;
  }

  li::before,
  a::after {
    display: none;
  }

  a {
    @include transition(color);
    display: block;
    padding-right: block(small);
    padding-left: block(small);
    cursor: pointer;
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    object-fit: contain;

    a:hover & {
    }
  }
}
