<section class="grid section">
  {%- if block.title %}
    <div class="grid__item">
      <h2 class="section__title">{{ block.title }}</h2>
    </div>
  {%- endif %}
  <div class="js-lightbox grid__item gallery gallery--{{block.layout}}" data-lightbox="{{ block._key }}">
    {%- if block.images %}
      {%- for item in block.images %}
        <a data-fslightbox="{{ block._key }}" class="gallery__item" href="{{ helpers.image.urlFor(item) }}">
          <figure>
            {{ helpers.image.imageWithSrcset(item) | safe }}
          </figure>
        </a>
      {%- endfor %}
    {% endif %}
  </div>
</section>