{%- for block in pageBuilderContent %}
  {%- if block._type === 'pageBuilderFullwidthContent' -%}
    {% include "partials/components/pageBuilderFullwidthContent.html" %}
  {%- elseif block._type === 'pageBuilderSplitContent' -%}
    {% include "partials/components/pageBuilderSplitContent.html" %}
  {% elseif block._type === 'pageBuilderVideoCollection' %}
    {% include "partials/components/pageBuilderVideoCollection.html" %}
  {% elseif block._type === 'pageBuilderImageGallery' %}
    {% include "partials/components/pageBuilderImageGallery.html" %}
  {% elseif block._type === 'pageBuilderAccordion' %}
    {% include "partials/components/pageBuilderAccordion.html" %}
  {% elseif block._type === 'pageBuilderContactForm' %}
    {% include "partials/components/pageBuilderContactForm.html" %}
  {%- endif -%}
{%- endfor %}

