<footer class="footer">
    <div class="footer__inner">
      <nav class="footer__nav">
        <ul>
          <li>&copy; {{ helpers.date.currentYear() }}</li>
          {%- for item in site.footer.menuLeft -%}
            <li>
              <a href="{{ item.url | url }}">{{ item.label }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <ul>
          {%- for item in site.footer.menuRight -%}
            <li>
              <a href="{{ item.url | url }}">{{ item.label }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
      <div class="footer__social">
        <ul>
          {%- for item in site.footer.menuSocial -%}
          <li>
            <li>
              <a aria-label="{{item.label}}" href="{{item.url | url }}/">
                {% set platform = item.label %}
                {% include "partials/components/socialIcon.html" %}
              </a>
            </li>
            {%- endfor -%}
          </li>
        </ul>
      </div>
    </div>
  </footer>