<footer class="footer">
    <div class="footer__inner">
      <nav class="footer__nav">
        <ul>
          <li>&copy; {{ helpers.date.currentYear() }}</li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">Terms of Use</a>
          </li>
          <li>
            <a href="">Cookie Policy</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Film</a>
          </li>
          <li>
            <a href="">Video</a>
          </li>
          <li>
            <a href="">Photo</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
        <ul>
          <li>
            <a href="">
              {% include "partials/icons/social-instagram.svg" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>