<header class="js-header header" role="banner">
  <div class="header__inner">
    <a class="header__logo" href="/">{{site.meta.title}}.</a>
    <nav class="navigation" aria-label="Main" id="menu">
      <ul class="navigation__list">
        {%- for item in site.header -%}
          {%- if item.link._type === 'social' -%}
            {% set link = item.link %}
            <li class="navigation__icon">
              <a aria-label="{{link.label}}" href="{{link.url | url }}" target="_blank" rel="nofollow noreferrer noopener">
                {% set platform = link.label %}
                {% include "partials/components/socialIcon.html" %}
              </a>
            </li>
          {%- else %}
            {% set link = item.link %}
            <li>
              <a href="{{ link.url | url }}" {{ helpers.activePage.getLinkActiveState(link.url, page.url) | safe }}>{{ link.label }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
    <button class="js-header-button header__button" aria-label="Toggle menu" aria-expanded="false" aria-controls="menu">
      <span class="header__icon"></span>
    </button>
  </div>
</header>