<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% set metaTitle = [sanityPage.title, " | ", site.meta.titleSection, " | ", site.meta.title] | join() %}
    <title>{{ sanityPage.seo.metaTitle or metaTitle }}</title>
    <meta name="og:title" property="og:title" content="{{ sanityPage.title }}" />
    <meta property="og:type" content="website" />
    {% if sanityPage.seo.metaTitle %}
      <meta name="description" content="{{ sanityPage.seo.metaTitle }}">
      <meta name="og:description" property="og:description" content="{{ sanityPage.seo.metaTitle }}" />
      <meta name="twitter:description" content="{{ sanityPage.seo.metaTitle }}" />
    {%- endif %}
    <meta property="og:site_name" content="{{ site.meta.title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ sanityPage.seo.metaTitle or metaTitle }}" />
    {% set ogImg = sanityPage.seo.image or site.meta.ogImage %}
    <meta property="og:image" content="{{ helpers.image.urlFor(ogImg) }}" />
    <meta name="twitter:image" content="{{ helpers.image.urlFor(ogImg) }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {%- if site.headScripts %}
      {%- for s in site.headScripts %}
        {{ s.script | safe }}
      {%- endfor %}
    {%- endif %}

    <style>{% include "css/app.css" %}</style>
  </head>
  <body>
    {% include "partials/global/header.html" %}
    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/global/footer.html" %}
    <script src="/js/app.js" type="module"></script>
    
    {%- if site.footerScripts %}
      {%- for s in site.footerScripts %}
        {{ s.script | safe }}
      {%- endfor %}
    {%- endif %}
  </body>
</html>